#WinPopUp {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  background: hsl(208, 70%, 60%, 0.95);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 3px 10px 0px hsl(45, 17%, 20%);
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  color: hsl(208, 10%, 95%);
}

.btn-dark {
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  color: hsl(45, 17%, 24%);
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  color: hsl(208, 10%, 95%);
  background-color: hsl(208, 70%, 30%, 1);
  border-color: hsl(208, 70%, 30%, 1);
  margin: 5%;
}
