#WinPopUp {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 250px;
  background: hsl(208, 70%, 60%, 0.95);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 3px 10px 0px hsl(45, 17%, 20%);
  text-align: center;
  font-size: 1.6em;
  font-weight: 600;
  color: hsl(208, 10%, 95%);
}

#play-again {
  display: inline-block;
  color: hsl(208, 10%, 95%);
  background-color: hsl(208, 70%, 30%, 1);
  border-color: hsl(208, 70%, 30%, 1);
  margin: 5%;
}

#close {
  display: inline-block;
}

#buttons-wrapper {
  width: 100%;
}
